.vert-align {
    top: -35px;
    position: fixed;
    z-index:50;
    width: 100%;
    background-color:white;
}

.image-txt-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
.image-slider {
    width: 100%;
    background-color:white;
    padding-top: 0%;
}

a, p, h1, h2, h3, h4, ul {
    margin: 0;
    padding: 0;
    color: #132756;
}

.login-btn123 {
    height: 9rem;
    display: grid;
    align-items: center;
    width: 111px;
    margin-left: 279px;
  }

  .login-btn123-logistics {
    height: 9rem;
    display: grid;
    align-items: center;
    width: 111px;
    margin-left: 279px;
  }

.footer-icon {
    height: auto;
    width: 100%; 
    margin-top: 3%;
}